body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   margin: 0;
   padding: 0;

   background-color: #DAE6DC;
   font-family: 'Source Sans Pro', sans-serif;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*, *:before, *:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

::selection {
   background-color: #c1e6c7;
   color: rgb(0, 90, 40);
}

main {
   margin: 6rem auto;
   width: 100vw;
   max-width: 725px;
}

.username-color {
   color: rgb(0, 173, 76);
}


/* ------------------MAIN CONTENT STUFF  */

.likes-button-container {
   display: flex;
   flex-direction: column;
}

.likes-button-container button {
   margin: 2px;
}

.post-btn-section {
   text-align: center;
}

.post-div:nth-child(1) {
   margin-top: 9em;
}

.post-div{
   padding: 10px;
   margin: 2rem 0;
   background-color: white;
}

.post-div:hover{
   box-shadow: 1px 1px 5px 3px rgba(14, 129, 64, 0.4);

}

.user-info {
   font-size: .75em;
}

.single-post img {
   width: 100%;
   /* height: 20rem; */
   object-fit: cover;
}

.post-info {
   display: flex;
   /* justify-content: space-between; */
   align-items: center;
}

.post-info h3 {
   margin-bottom: 0;
}

.single-post content{
   padding: 1.5rem 2rem;
}

.single-post p{
   padding: 16px;
}

.post-title {
   font-family: 'Noto Serif Display', serif;
   font-size: 2em;
}

.upvotes-button, .downvotes-button {
   border-radius: 20px;
   width: 100px;
   line-height: 1.3em;
}

/* .upvotes-button {
   width: 0;
   height: 0;
   border-radius: 70px 70px 0 0;
   border-left: 50px solid black;
   border-right: 50px solid black;
   border-top: 50px solid black;
   color: rgb(0, 173, 76);

   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.downvotes-button {
   width: 0;
   height: 0;
   border-radius: 0 0 70px 70px;
   border-left: 50px solid black;
   border-right: 50px solid black;
   border-bottom: 50px solid black;
   color: rgb(0, 173, 76);

   display: flex;
   justify-content: center;
   align-items: flex-start;
}

.post-info {
   border: 1px pink solid;
} */

.upvotes-button:hover {
   background-color:rgb(7, 172, 78)
}

.downvotes-button:hover {
   background-color:rgb(252, 57, 57)
}

.comment-btn {
   border-radius: 20px;
   width: 150px;
   cursor: pointer;
}

.user-info{
   display: flex;
   margin-bottom: 10px;
   justify-content: space-between;
}

.delete-post {
   color: white;
   background-color: red;
   width: 18px;
   height: 18px;
   padding: 1px;

   display: flex;
   justify-content: center;
   align-items: center;
}

/* -------------------COMMENT -------------------------- */

.comment-username-class{
   color:rgb(7, 172, 78);
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 3px;
   margin-right: 10px;
}

.comment-text-class{
   border: 2px solid #dedede;
   padding: 10px;
   color: #5e5e5e;
   text-align: center;
   border-radius: 25px;
   /* margin-bottom: 3px; */
}

.comment-button-class{
   margin-bottom: 2em;
}

.add-comment-class{
   border: 2px solid #dedede;
   padding: 10px;
}