html {
   scroll-behavior: smooth;
}

body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   margin: 0;
   padding: 0;

   background-color: #DAE6DC;
   font-family: 'Source Sans Pro', sans-serif;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*, *:before, *:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

::selection {
   background-color: #c1e6c7;
   color: rgb(0, 90, 40);
}

main {
   margin: 6rem auto;
   width: 100vw;
   max-width: 725px;
}

.username-color {
   color: rgb(0, 173, 76);
}

.error-message {
   color: red;
   font-weight: 600;
   font-size: .9em;
}

.delete-button {
   min-height: 20px;
   min-width: 20px;

   color: red;

   cursor: pointer;
}

.delete-button:active {
   transform: scale(.95);
}

.delete-button:hover, .delete-button:focus-visible {
   animation: iconShake .5s infinite;
}

@keyframes iconShake {
   0% {
      transform: translateX(-5%);
   }

   50% {
      transform: translateX(5%);
   }

   100% {
      transform: translateX(-5%);
   }
}