html {
   scroll-behavior: smooth;
}

body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   margin: 0;
   padding: 0;

   background-color: #DAE6DC;
   font-family: 'Source Sans Pro', sans-serif;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*, *:before, *:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

::selection {
   background-color: #c1e6c7;
   color: rgb(0, 90, 40);
}

main {
   margin: 6rem auto;
   width: 100vw;
   max-width: 725px;
}

.username-color {
   color: rgb(0, 173, 76);
}

.error-message {
   color: red;
   font-weight: 600;
   font-size: .9em;
}

/* -------------------COMMENT -------------------------- */

.comment-username-class{
   color:rgb(7, 172, 78);
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 3px;
   margin-right: 10px;
}

.comment-text-class{
   border: 2px solid #dedede;
   padding: 10px;
   color: #5e5e5e;
   text-align: center;
   border-radius: 25px;
   /* margin-bottom: 3px; */
}

.add-comment-class{
   border: 2px solid #dedede;
   padding: 10px;
}