#create-post, #all-users {
   position: fixed;
   right: 20px;

   padding: 5px;
   height: 50px;
   width: 50px;

   border: none;
   border-radius: 50%;

   display: flex;
   justify-content: center;
   align-items: center;
   
   cursor: pointer;
}

#create-post {
   top: 80px;

   background-color: rgb(0, 173, 76);
   color: white;
   font-size: 2.5em;
}

#create-post:hover, #all-users:hover {
   box-shadow: 0 0 6px rgba(0, 173, 76, 0.8);
}

#create-post:active {
   transform: rotate(90deg);
   transition: 0.15s;
}

#all-users {
   top: 140px;

   background-color: rgb(0, 173, 76);
}

#users-smiley {
   color: white;
   font-size: 2em;
}