.blog-form-background {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.75);
   position: fixed;
   inset: 0 0 0 0;

   display: flex;
   justify-content: center;
   align-items: center;

   z-index: 5;
}

.create-blog-div {
   background-color: #DAE6DC;
   width: 100%;
   text-align: center;

   border-radius: 0 0 20px 20px;
}

.x-button {
   display: flex;
   justify-content: center;
   align-items: center;
   
   width: 14px;
   height: 14px;
   padding: 8px;

   background-color: rgb(255, 55, 55);
   color: #CCC;
   border: 0.75px solid #CCC;
   
   position: absolute;
   top: 5px;
   right: 5px;
   
   cursor: pointer;
}

.x-button:active {
   transform: scale(.9);
}

.required-red {
   color: red;
}

.create-blog-form {
   display: flex;
   flex-direction: column;

   padding: 10%;
   width: 100%;
}

.create-blog-form p {
   font-size: 1.15em;
   font-weight: 600;
   margin-bottom: -10px;
}

/* Raleway Regular 400 Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.create-blog-form input, .create-blog-form textarea {
   background: none;

   margin: 20px auto;
   padding: 15px 10px;
   border: 2px solid var(--grenit-color);
   text-align: center;

   width: 90%;
   outline: none;
   border-radius: 30px;
   transition: 0.5s;

   font-family: 'Raleway', sans-serif;
}

.create-blog-form input:focus, .create-blog-form textarea:focus {
   width: 100%;
   border-color: var(--grenit-color);
}

#submit-form-button {
   cursor: pointer;
   background-color: var(--grenit-color);
   color: #DAE6DC;

   font-weight: 700;
   font-size: 1.05em;

   padding: 5px;
   margin: 8px 50px -8px;
   border: 1px solid rgb(100, 100, 100);
   border-radius: 20px;
}

#submit-form-button:active {
   transform: scale(.99);
   background-color: var(--grenit-color);
}

#submit-form-button:hover{
   color: rgb(0, 70, 30);
}