.editing-blog {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.editing-blog input, .editing-blog textarea {
   background: none;

   margin: 10px auto 25px;
   padding: 10px 7.5px;
   border: 2px solid var(--greenit-color);

   width: 70%;
   outline: none; 
   border-radius: 30px;
   transition: 0.5s;

   font-family: 'Raleway', sans-serif;
}

.editing-blog input:focus, .editing-blog textarea:focus {
   width: 80%;
   border-color: var(--greenit-color);
}

.editing-blog button {
   cursor: pointer;

   background-color: var(--greenit-color);

   font-weight: 700;
   font-size: .9em;
   color: white;

   padding: 7.5px;
   margin: -7.5px auto 7.5px;

   border-radius: 20px;
}

.editing-blog button:hover {
   color: black;
}

.editing-blog button:active {
   transform: scale(.99);
   animation: editBlog 1.75s 1;
}

@keyframes editBlog {
   0% {
       background: linear-gradient(to top right, var(--greenit-color), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5));
   }
   2% {
       background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), var(--greenit-color), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5));
   }
   4% {
       background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), var(--greenit-color), rgba(220, 220, 220, 0.5));
   }
   6% {
       background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), var(--greenit-color));
   }
   8% {
       background: var(--greenit-color);
   }
}