.form-background {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.75);
   position: fixed;
   inset: 0 0 0 0;

   display: flex;
   justify-content: center;
   align-items: center;

   z-index: 5;
}

.create-post-form {
   background-color: #DAE6DC;
   width: 100%;
   text-align: center;

   border-radius: 0 0 20px 20px;
}

.x-button {
   display: flex;
   justify-content: center;
   align-items: center;
   
   width: 14px;
   height: 14px;
   padding: 8.5px;

   background-color: rgb(255, 55, 55);
   color: whitesmoke;
   border: 0.5px solid #CCC;
   
   position: absolute;
   top: 5px;
   right: 5px;
   
   cursor: pointer;
}

.x-button:active {
   transform: scale(.9);
}

.required-red {
   color: red;
}

.form-modal {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: flex-end;
   align-items: stretch;

   padding: 10%;
   width: 100%;
}

.form-modal p {
   font-size: 1.15em;
   font-weight: 600;
   margin-bottom: -10px;
}

/* Raleway Regular 400 Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.form-modal input, .form-modal textarea {
   background: none;

   margin: 20px auto;
   padding: 15px 10px;
   border: 2px solid rgb(0, 173, 76);
   text-align: center;

   width: 90%;
   outline: none;
   border-radius: 30px;
   transition: 0.5s;

   font-family: 'Raleway', sans-serif;
}

.form-modal input:focus, .form-modal textarea:focus {
   width: 100%;
   border-color: rgb(0, 173, 76);
}

#submit-form-button {
   cursor: pointer;
   background-color: rgb(0, 173, 76);
   color: #DAE6DC;

   font-weight: 700;
   font-size: 1.05em;

   padding: 5px;
   margin: 8px 50px -8px;
   border: 1px solid rgb(100, 100, 100);
   border-radius: 20px;
}

#submit-form-button:active {
   transform: scale(.99);
   background-color: rgba(0, 173, 76, 0.8);
}

#submit-form-button:hover{
   color: rgb(0, 70, 30);
}