.fixed-navbar {
   position: fixed;
   top: 0;
   width: 100%;
}

#skip-nav {
   background-color: rgb(0, 173, 76);
   color: white;

   padding: .75rem 1.5rem;
   text-decoration: none;

   position: absolute;
   top: 4.3rem;
   left: 2.15em;

   opacity: 0;
   transform: translateY(-300%);
   transition: all 400ms ease-in;
}

#skip-nav:focus {
   opacity: 1;
   transform: translateY(0);
}

.nav {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   padding: 0.5em;
   
   background-color: white;
   box-shadow: 0 1px 1px 0 #afd3b5;
}

.nav a {
   text-decoration: none;
}

.logo-box {
   cursor: pointer;
   display: flex;
   align-items: center;
   color: rgb(0, 173, 76);

   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 700;
   font-size: 1.75rem;
}

#greenit-logo {
   width: 50px;
   height: 50px;

   margin-left: 10px;
   margin-right: 7.5px;
}

.category-bar {
   display: flex;
}

.category-bar button {
   cursor: pointer;

   font-size: clamp(1em, 3vw, 1.25em);
   font-weight: 700;

   padding: .35em;
   margin-left: 1em;
   margin-right: 1em;

   border: none;
   background-color: white;
}

.category-bar button:hover, .category-bar button:focus-visible {
   box-shadow: inset 0 -5px 0 0 rgb(0, 173, 76);
}

.searchbar {
   margin-top: .75em;
   display: flex;
   justify-content: center;
   flex: 1 1 auto;
}

.searchbar input {
   border: 2px solid rgb(0, 173, 76);
   border-radius: 20px;
   padding-left: 0.75em;

   height: 1.75em;
   max-width: 725px;
   width: 100%;

   font-size: 1.2rem;
   color: rgb(0, 173, 76);
}

.searchbar input:focus {
   border: 2px solid rgb(0, 173, 76);
}

.user-section {
   display: flex;
   align-items: center;
   margin-right: 10px;
}

.user-section span {
   font-size: 1.15em;
   font-weight: 600;
}

.user-section button {
   cursor: pointer;
   min-width: 7em;
   border: 1px solid rgb(200, 200, 200);
   border-radius: 20px;
   padding: 7px;
   margin: 5px;
   font-size: 1em;

   display: flex;
   justify-content: center;
   align-items: center;
}

#login-button {
   margin-right: 10px;
}

#login-button:hover, #signup-button:hover {
   background-color: rgb(0, 173, 76);
   color: white;
}

#login-button:active, #signup-button:active {
   animation: loginSignup 1.75s 1;
}

@keyframes loginSignup {
   0% {
       background: linear-gradient(to top right, rgb(0, 173, 76), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5));
   }
   2% {
       background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), rgb(0, 173, 76), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5));
   }
   4% {
       background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgb(0, 173, 76), rgba(220, 220, 220, 0.5));
   }
   6% {
       background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgb(0, 173, 76));
   }
   8% {
       background: rgb(0, 173, 76);
   }
}