/* PT Serif Regular 400 Font */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.post-div:nth-child(1) {
   margin-top: 9rem;
}

.post-div {
   background-color: white;
   padding: 10px;
   margin: 2rem 0;
}

.post-div:hover {
   box-shadow: 1px 1px 4px 4px rgba(0, 173, 76, 0.4);
}

.user-info {
   font-size: .8em;
   margin-bottom: 10px;

   display: flex;
   justify-content: space-between;

   border-bottom: rgb(0, 173, 76);
}

.user-info h3 span {
   text-decoration: none;
   background-image: linear-gradient(90deg, rgb(0, 173, 76), rgb(0, 173, 76));
   background-size: 0% 2px;
   background-repeat: no-repeat;
   background-position: left bottom;

   transition: background-size 300ms ease;
}

.user-info span:hover {
   background-size: 100% 2px;
}

.delete-post {
   height: 20px;
   width: 20px;

   color: red;

   cursor: pointer;
}

.delete-post:active {
   transform: scale(.95);
}

.delete-post:hover, .delete-post:focus-visible {
   animation: trashShake .5s infinite;
}

@keyframes trashShake {
   0% {
      transform: translateX(-5%);
   }

   50% {
      transform: translateX(5%);
   }

   100% {
      transform: translateX(-5%);
   }
}

.post-header {
   display: flex;
   align-items: center;
}

.likes-button-container {
   display: flex;
   flex-direction: column;
}

.likes-button, .dislikes-button {
   width: 80px;
   border-radius: 20px;
   margin: 1.5px;
   line-height: 1.3em;
   cursor: pointer;
}

.likes-button:hover, .likes-button:focus-visible{
   background-color: rgb(0, 173, 76);
}

.dislikes-button:hover, .dislikes-button:focus-visible {
   background-color: rgb(255, 25, 25);
}

.likes-button:active {
   animation: likesActive 1.75s 1;
}

@keyframes likesActive {
   0% {
       background: linear-gradient(to top right, rgb(8, 187, 86), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5));
   }
   2% {
       background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), rgb(8, 187, 86), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5));
   }
   4% {
       background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgb(8, 187, 86), rgba(220, 220, 220, 0.5));
   }
   6% {
       background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgb(8, 187, 86));
   }
   8% {
       background: rgba(220, 220, 220, 0.5);
   }
}

.dislikes-button:active {
   animation: dislikesActive 1.75s 1;
}

@keyframes dislikesActive {
   0% {
       background: linear-gradient(to top right, rgb(255, 25, 25), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5));
   }
   2% {
       background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), rgb(255, 25, 25), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5));
   }
   4% {
       background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgb(255, 25, 25), rgba(220, 220, 220, 0.5));
   }
   6% {
       background: linear-gradient(to top right, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5), rgb(255, 25, 25));
   }
   8% {
       background: rgba(220, 220, 220, 0.5);
   }
}

.likes-pressed, .dislikes-pressed {
   width: 80px;
   border-radius: 20px;
   margin: 1.5px;
   line-height: 1.3em;
}

.likes-pressed {
   background-color: rgb(8, 187, 86);
   color: white;
}

.dislikes-pressed {
   background-color: rgb(255, 75, 75);
   color: white;
}

.post-title {
   font-family: 'PT Serif', serif;
   /* font-size: 2em; */
   font-size: clamp(1.25em, 5vw, 2.1rem);
   margin-bottom: 0;
}

.single-post img {
   width: 100%;
}

.single-post p {
   padding: 15px;
}

.view-more-container {
   text-align: center;
}

.post-view-more {
   background: none;
   border: 3px solid rgb(0, 173, 76);
   border-radius: 3px;

   margin: .15rem;
   padding: .75em 1.75em;
   transition: .35s;

   font-size: .9em;
   font-weight: 600;
   letter-spacing: 1px;

   cursor: pointer;
}

.post-view-more:hover, .post-view-more:focus-visible {
   box-shadow: inset 0 0 0 2em rgb(0, 173, 76);
   color: white;
}

.post-comment-dropdown {
   color: rgb(0, 173, 76);
   font-size: 1.15em;
   font-weight: 600;
   letter-spacing: .03em;

   margin-bottom: 1em;

   text-align: center;
   cursor: pointer;
}

.post-comment-form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.post-comment-form textarea {
   width: 95%;
   font-size: 1.15em;
}

.post-comment-form button {
   width: 25%;

   margin: 5px;
   padding: 5px;

   border: none;
   border-radius: 4px;

   background-color: rgb(0, 173, 76);
   font-size: .9em;
   font-weight: 600;
   letter-spacing: .1em;
   color: white;

   transition: .25s;

   cursor: pointer;
}

.post-comment-form button:hover, .post-comment-form .likes-button:focus-visible {
   background-color: rgb(0, 210, 100);
}

.post-comment-form button:active {
   box-shadow: 0 0 0 1.5em rgba(0, 0, 0, 0);
   animation: postComment .35s;
}

@keyframes postComment {
   0% {
      box-shadow: 0 0 0 0 rgb(0, 173, 76);
   }
}

.post-comment-form div {
   text-align: center;
   font-size: 1.25em;
}

.show-hide-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.show-hide-container button {
   width: fit-content;

   margin: 3px;
   padding: 5px;

   border-radius: 20px;

   background-color: rgb(225, 225, 225);
   letter-spacing: .05em;
   color: rgb(0, 173, 76);

   cursor: pointer;
}

.show-hide-container button:active {
   transform: scale(.95);
   background-color: rgb(0, 173, 76);
   color: rgb(225, 225, 225);
}