.user-info-container-parent {
   margin-top: 10rem;
   padding: 7.5px 5px;

   background-color: white;
   box-shadow: 0 1px 8px 0 #afd3b5;
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.user-info-container {
   width: 97.5%;
}

.user-info-header {
   display: flex;
   justify-content: space-between;
}

#clicked-username {
   font-size: clamp(2rem, 5vw, 3.25rem);

   display: flex;
}

#clicked-username input {
   font-size: clamp(1.75rem, 5vw, 3rem);
   color: var(--greenit-color);
   
   width: clamp(50%, 5vw + 1rem, 65%);
   border: 2px solid #AFD3B5;

   padding: 0 5px;
   margin-right: 7.5px;
}

#clicked-username button {
   align-self: center;

   border-radius: 30px;

   font-weight: 600;
   
   padding: 8.5px;
}

.user-info-edit {
   margin-left: 7.5px;
}

.user-info-underline {
   background-color: var(--greenit-color);
   height: 5px;
   margin-top: 7.5px;
   margin-bottom: 5px;
}

.user-info-error {
   margin-top: .3rem;
   margin-bottom: .15rem;
   font-size: 1.31rem;
}

.user-info-datetime {
   font-size: clamp(1em, 3vw, 1.5em);
   font-weight: 600;
   font-style: italic;
   color: #AFD3B5;
}

.user-info-divs h3 {
   font-size: clamp(1.25rem, 3vw, 2.25rem);

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.user-info-divs button {
   margin: 3px;
   padding: 5px;
   border-radius: 15px;
}

.user-info-divs button, #clicked-username button {
   width: fit-content;

   background-color: var(--gray-main);
   letter-spacing: .05em;
   color: var(--greenit-color);
}

.user-info-divs button:active, .user-info-divs button:focus-visible, #clicked-username button:active, #clicked-username button:focus-visible {
   transform: scale(.95);
   background-color: var(--greenit-color);
   color: var(--gray-main);
}

.user-info-blogs, .user-info-comments {
   border-bottom: 1px solid var(--greenit-opac);
}

.user-info-blogs:last-child, .user-info-comments:last-child {
   border-bottom: none;
}

.user-info-blogs, .user-info-comments {
   display: flex;
   justify-content: space-between;
}

.user-info-blogs img {
   max-height: 150px;
   height: fit-content;
   max-width: 150px;
   width: fit-content;

   border-right: 1px solid var(--greenit-opac);
}

.user-info-blogs div {
   margin-left: .5em;
}

.user-blog-container {
   display: flex;
   align-items: center;
}

.user-info-actions, .user-comment-container {
   padding: 7.5px;
}

.user-info-actions {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.user-info-blogs h4, .user-info-comments h4 {
   font-size: 1.15em;
}

.user-info-blogs:hover, .user-info-comments:hover {
   background-color: var(--gray-main);
}

.user-info-scroll {
   border: 2px solid var(--greenit-opac);

   max-height: 310px;
   overflow-x: hidden;
   overflow-y: auto;

   overflow-wrap: break-word;
   word-break: break-word;
}

.blog-comments-footer {
   font-size: clamp(.725em, 3vw, .95em);
   color: #AFD3B5;
}

.user-info-scroll::-webkit-scrollbar {
   width: clamp(5px, 2vw, 10px);
}

.user-info-scroll::-webkit-scrollbar-thumb {
   background-color: rgba(0, 173, 76, 0.65);
}

.user-info-scroll::-webkit-scrollbar-thumb:active {
   background-color: var(--greenit-color);
}

.user-info-scroll::-webkit-scrollbar-track {
   background-color: var(--greenit-opac);
}