.user-info-container-parent {
   margin-top: 9rem;
   padding: 7.5px 5px;

   background-color: white;
   box-shadow: 0 1px 8px 0 #afd3b5;
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.user-info-container {
   width: 97.5%;
}

.user-info-header {
   display: flex;
   justify-content: space-between;
}

#clicked-username {
   font-size: clamp(2rem, 5vw, 3.25rem);
   margin-bottom: -0.1em;
}

.user-info-underline {
   background-color: rgb(0, 173, 76);
   height: 5px;
   margin-top: 7.5px;
   margin-bottom: 5px;
}

.user-info-datetime {
   font-size: clamp(1em, 3vw, 1.5em);
   font-weight: 600;
   font-style: italic;
   color: #afd3b5;
}

.user-info-divs h3 {
   font-size: clamp(1.25rem, 3vw, 2.25rem);

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.user-info-divs button {
   width: fit-content;

   margin: 3px;
   padding: 5px;
   
   border-radius: 15px;

   background-color: rgb(225, 225, 225);
   letter-spacing: .05em;
   color: rgb(0, 173, 76);

   cursor: pointer;
}

.user-info-divs button:active, .user-info-divs button:focus-visible {
   transform: scale(.95);
   background-color: rgb(0, 173, 76);
   color: rgb(225, 225, 225);
}

.user-info-blogs, .user-info-comments {
   cursor: pointer;

   border-bottom: 1px solid rgba(0, 173, 76, 0.4);
}

.user-info-blogs:last-child, .user-info-comments:last-child {
   border-bottom: none;
}

.user-info-blogs {
   display: flex;
   align-items: center;
}

.user-info-blogs img {
   max-height: 150px;
   height: fit-content;
   max-width: 150px;
   width: fit-content;

   border-right: 1px solid rgba(0, 173, 76, 0.4);
}

.user-info-blogs div {
   margin-left: .5em;
}

.user-info-comments {
   padding: 7.5px;
}

.user-info-blogs h4, .user-info-comments h4 {
   font-size: 1.15em;
}

.user-info-blogs:hover, .user-info-comments:hover {
   box-shadow: 4px 0 4px 4px rgba(0, 173, 76, 0.4);
}

.user-info-scroll {
   border: 2px solid rgba(0, 173, 76, 0.4);

   max-height: 310px;
   overflow-x: hidden;
   overflow-y: auto;

   overflow-wrap: break-word;
   word-break: break-word;
}

.post-comments-footer {
   font-size: clamp(.725em, 3vw, .95em);
   color: #afd3b5;
}

.user-info-scroll::-webkit-scrollbar {
   width: clamp(5px, 2vw, 10px);
}

.user-info-scroll::-webkit-scrollbar-thumb {
   background-color: rgba(0, 173, 76, 0.65);
}

.user-info-scroll::-webkit-scrollbar-thumb:active {
   background-color: rgb(0, 173, 76);
}

.user-info-scroll::-webkit-scrollbar-track {
   background-color: rgba(0, 173, 76, 0.4);
}